<h1>Password Reset</h1>
<div *ngIf="checkingResetID" class="checking-password-reset">
  <div *ngIf="!error">Checking password reset request...</div>
  <div *ngIf="error">
    Error: <code>{{ error }}</code>
  </div>
</div>
<div *ngIf="!checkingResetID">
  <div *ngIf="!resetID">
    <div *ngIf="!requestSuccess">
      <p class="reset-info">
        If you have forgotten your password, simply enter your email address
        below. We will send you an email with a link to let you reset your
        password. Please use the link quickly, as it will expire after one hour.
        Do not share your link with anyone, or they may be able to gain access
        to your account.
      </p>
      <form
        #requestPasswordResetForm="ngForm"
        (ngSubmit)="
          onRequestPasswordResetSubmit(requestPasswordResetForm.value)
        "
      >
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            maxlength="63"
            required
            ngModel
          />
        </div>
        <button
          type="submit"
          class="btn button-primary mt-1 mb-2"
          [disabled]="submittingForm"
        >
          Request password reset
        </button>
        <div class="mb-2">
          <div *ngIf="error">
            <small class="error-text">{{ error }}</small>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="requestSuccess">
      Success! You have requested a password reset. We've sent you an email
      containing a link to reset your password. Simply click the link in the
      email and you will be able to set a new password. Note that the link will
      expire after one hour.
    </div>
  </div>
  <div *ngIf="resetID">
    <div *ngIf="validResetID">
      <div *ngIf="!resetSuccess">
        <p class="reset-info">
          Please enter a new password below. You will only be able to reset your
          password while this link is valid. Do not share this link with anyone.
        </p>
        <form
          #passwordResetForm="ngForm"
          (ngSubmit)="onPasswordResetSubmit(passwordResetForm.value)"
        >
          <div class="form-group">
            <label for="password" class="form-label">New password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              maxlength="255"
              required
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="form-label"
              >Confirm new password</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              maxlength="255"
              required
              ngModel
            />
          </div>
          <button
            type="submit"
            class="btn button-primary mt-1 mb-2"
            [disabled]="submittingForm"
          >
            Reset password
          </button>
          <div class="mb-2">
            <div *ngIf="error">
              <small class="error-text">{{ error }}</small>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="resetSuccess">
        Success! Your password has been reset. You may now proceed to
        <a routerLink="/login">the login page</a>. You may also delete the email
        we sent you, as it will serve no further purpose.
      </div>
    </div>
    <div *ngIf="!validResetID">
      <p class="password-reset-error-msg error-text">
        Error: <code>Invalid password reset ID</code>
      </p>
      <p class="password-reset-error">
        This may have occurred because your link expired or because you have
        already reset your password. Please
        <a routerLink="/password-reset">request another password reset</a>,
        bearing in mind you have one hour to reset it. If this problem persists,
        please
        <a
          href="https://github.com/WKHAllen/GreenPoll/issues/new"
          target="_blank"
          >create an issue for it on GitHub</a
        >.
      </p>
    </div>
  </div>
</div>
