<div class="header">
  <a routerLink="/">
    <img src="/assets/icons/icon-72x72.png" alt="logo" width="32" height="32" />
    <h5>GreenPoll</h5>
  </a>
  <nav>
    <ul *ngIf="loggedIn" class="nav-links">
      <li>
        <a routerLink="/new">
          <fa-icon icon="plus"></fa-icon>
        </a>
      </li>
      <li>
        <a routerLink="/profile">
          <fa-icon icon="user"></fa-icon>
        </a>
      </li>
      <li>
        <a routerLink="/logout">
          <fa-icon icon="sign-out-alt"></fa-icon>
        </a>
      </li>
    </ul>
    <ul *ngIf="!loggedIn" class="nav-links">
      <li>
        <a routerLink="/login">
          <fa-icon icon="sign-in-alt"></fa-icon>
        </a>
      </li>
    </ul>
  </nav>
</div>
