$primary-color: #00aa17;
$secondary-color: white;
$primary-as-bg-text-color: white;
$secondary-as-bg-text-color: black;

* {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $secondary-color;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

small {
  font-size: 0.9em;
  font-weight: 500;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin full-center {
  @include centerer(true, true);
}

@mixin button($bg-color, $color) {
  background-color: $bg-color;
  color: $color !important;
  text-decoration: none !important;

  &:not(:disabled),
  &:not(.disabled) {
    &:hover {
      background-color: darken($bg-color, 5%);
    }

    &:active {
      background-color: darken($bg-color, 8%);
    }
  }
}

.button-primary {
  @include button($primary-color, $primary-as-bg-text-color);
}

.button-secondary {
  @include button($secondary-color, $secondary-as-bg-text-color);
}

.success-text {
  color: $primary-color;
}

.error-text {
  color: red;
}

.form-group {
  margin-bottom: 0.75rem;
}
